<table id="employee">
    <thead>
        <tr>
            <th [attr.colspan]='colSpan'>Employee Details</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Name</td>
            <td>{{name}}</td>
        </tr>
        <tr>
            <td>Role</td>
            <td>{{role}}</td>
        </tr>
        <tr *ngIf='showDetails'>
            <td>Age</td>
            <td>{{age}}</td>
        </tr>
        <tr *ngIf='showDetails'>
            <td>Gender</td>
            <td>{{gender}}</td>
        </tr>
    </tbody>

</table>
<br>
<button (click)='toggleDetails()'>{{showDetails?'Hide':'show'}} Details</button>