<employee-count *ngIf='employees' [all]='getEmployeesCount()' [Male]='getMaleEmployeesCount()'
    [Female]='getFemaleEmployeesCount()' (countRadioButtonSelctionChanged)='onEmployeeRadioButtionChange($event)'>
</employee-count><br><br>
<table>
    <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Annual Salary</th>
            <th>Date of Birth</th>
        </tr>
    </thead>
    <tbody>

        <ng-container *ngFor="let employee of employees;">
            <tr *ngIf="selectedEmployeeRadioButtonValue=='All' || selectedEmployeeRadioButtonValue==employee.gender">
                <td>
                    <a [routerLink]="['/employees',employee.code]">
                    {{employee.code|uppercase}}
                    </a>
                </td>
                <td>{{employee.name}}</td>
                <td>{{employee.gender}}</td>
                <td>{{employee.annualSalary}}</td>
                <td>{{employee.dateOfBirth}}</td>
            </tr>
        </ng-container>
        <tr *ngIf="!employees">
            <td colspan="5">
                {{statusMessage}}
            </td>
        </tr>

    </tbody>
</table>